 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

 }
 html{
 font-size: 62.5%;
 }

 body{
  font-family:'roboto', sans-serif;
  font-size: 1.6rem;
 }

 :root{

  --color-red: #db0000;
  --color-black: #000;
  --color-background:#161616;
  --color-white:#fff;
 }