*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

 }
html{
 font-size: 62.5%;
 }

body{
  font-family:'roboto', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden;
  
 }

:root{

  --color-red: #db0000;
  --color-black: #000;
  --color-background:#161616;
  --color-white:#fff;
 }


 .modal{
   z-index: 1000;
   position: absolute;
 }
 .ReactModal__body--open{
   z-index: 1000;
   position: absolute;
 }
 .ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
 .mySwiper{
   overflow: visible !important;
   z-index: 10;
 }
 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color:white;
  color:black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Search */



.search-form {
  position: relative;
  /* margin: 150px auto 0; */
  width: 190px;
}

.search-form:before {
  content: ' ';
  position: absolute;
  /* left: 25px; */
  /* top: 14px; */
  width: 2px;
  height: 36px;
  transform: scale(0);
  z-index: 1;
  /* background: rgb(71, 136, 135); */
  transition: all 1s cubic-bezier(.87, -.41, .19, 1.44);
}

.active:before {
  transform: scale(1);
  transition-delay: 0.3s;
  animation: 1s cubic-bezier(.87, -.41, .19, 1.44) 1s infinite forwards focus;
}

.input {
  
  border-radius: 36px;
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top:-10px;
  transition: all 0.5s cubic-bezier(.87, -.41, .19, 1.44);
  background-color: rgba(20, 20, 20, 0);
  left:-40px
}

.active .input {
   
  width: 100%;
  padding-left: 25px;
  border-radius: 36px;
  background-color: white;
}

.button {
  background: rgba(20,20,20,0);
  position: absolute;
  /* height: 100%; */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: all 2s cubic-bezier(.87, -.41, .19, 1.44);
}
.button:after {
  content: ' ';
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  background:  rgba(20,20,20,0.2);
  border-radius: 50%;
}

.button:before {
  content: ' ';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  right: 0;
  /* top: 20px; */
  transform: scale(0);
  transform-origin: left top;
  margin: 0 auto;
  background:  rgba(20,20,20,0.2);
  border-radius: 50%;
  z-index: 5;
  transition: all 2s ease;
}

.active .button {
  transform: translateX(185px);
}

.active .button:before {
  transform: scale(1);
}

.focus:before {
  transform: scale(0);
  animation: none;
}

@keyframes focus {
  0%{
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



 .pruebacss{
  justify-self:center;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: underline;
  cursor:default;
  width: auto;
  background-size: contain;
  text-align: center;
  
}

 
 